@import "tailwindcss";

@theme {
  --color-primary: #fef7ed;
  --color-foreground: #1e1c1a;
  --color-muted: #f4ede3;
  --color-accent: #1e1c1a;

  --font-display: "fields-display", serif;
  --font-body: "fields", sans-serif;

  --max-w-content: 1032px;
}
